/* #region UTILITIES */
.navbar {
    display: none;
}

.mobile-menu-css {
    width: 30px;
    height: 36px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    align-items: center;
    margin-right: 0.75rem;

    .mobile-menu-bar {
        border: 0;
        background-color: #000;
        width: 22px;
        height: 2px;
    }
}
.download-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.discover-more {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: var(--clr-gray-700);
    span {
        font-size: 14px;
        line-height: 22.4px;
        color: var(--clr-gray-700);
    }
}
.phone-images {
    grid-area: images;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60%;
    display: none;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: auto;
    padding-block: auto;
    width: 196px;
    height: 100px;
    border: 1px solid var(--clr-gray-300);
    border-radius: 8px;
    background-color: var(--clr-white);
}
.cards {
    display: grid;
    grid-template-columns: auto;
    gap: 2rem;
    padding-inline: 0rem;
    padding-top: 2.5rem;
    width: 100%;
}

.card {
    display: grid;
    grid-template-columns: 23% auto;
    grid-template-areas: "icon heading" "icon info-text";
    /* margin-right: 1.8rem; */
    p {
        text-align: left;
        color: #585c7b;
        line-height: 25.6px;
    }
}
.H5 {
    grid-area: heading;
    margin: 0;
    padding: 0;
    text-align: left;
    padding-bottom: 0.5rem;
}
.H1 {
    text-align: center;
}
.card-icon {
    grid-area: icon;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.75rem;
    height: 3.75rem;
    background-color: rgba(99, 101, 241, 0.08);
    border-radius: 0.5rem;
}
.phone-img {
    display: none;
}
.content {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    p .txt-l {
        text-align: center;
    }
}
.phone-images-flow {
    img {
        width: 270px;
    }
    display: grid;
    grid-template-columns: auto auto auto;
    flex-shrink: auto auto auto;
    align-items: center;
    justify-content: center;
}

/* #endregion UTILITIES */

.container {
    position: relative;
    /* border: 1px solid; */
    width: 100%;
    max-width: 576px;
    margin-inline: auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
header {
    position: absolute;
    width: 100%;
    top: 0;

    .container {
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 2rem;
        align-items: center;
        justify-items: right;
    }
}
.hero {
    position: static;
    width: 100%;
    top: 0rem;
    z-index: -50;

    background-color: var(--clr-primary);
    background: rgb(99, 102, 241);
    background: linear-gradient(0deg, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);

    /* background: radial-gradient(circle, rgba(99, 101, 241, 0.0) 0%, rgba(219, 70, 239, 0.15) 100%, rgba(241, 244, 253, 0.07) 95%); */

    .container {
        margin-top: 5.8rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding-bottom: 0rem;
    }
    .content {
        display: grid;
        grid-template-rows: auto auto auto 1fr;
        gap: 2.5rem;
    }
    .heading {
        text-align: center;
        margin-top: 0;
        padding-top: 0;
    }
    p {
        text-align: center;
    }
}

.logos {
    position: static;
    .container {
        display: flex;
        gap: 1rem;
        padding-bottom: 0rem;
        display: none;
    }
}

.features {
    .content {
        width: 100%;
        padding: 0;
        margin: 0;
    }
}
.howdoesitwork {
    background-color: var(--clr-gray-100);
    padding-bottom: 2rem;
    .container {
        text-align: center;
        display: flex;
        flex-direction: column;

        .vp-desktop,
        .vp-tablet {
            display: none;
        }
    }
    H1 {
        font-size: 28px;
        line-height: 36.2px;
    }
    .left-phone,
    .right-phone {
        display: none;
    }
    H4 {
        margin: 0;
        margin-inline: 2.5rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    span {
        margin: 0;
    }
}

.feature-trans-receive {
    display: none;
    padding-top: 2rem;

    .container {
        width: 100%;
        padding-inline: 5rem;

        .content-1 {
          position: relative;
            display: grid;
            grid-template-columns: 416px 526px;
            grid-template-rows: 100%;
            justify-content: space-between;
        }
        .content-2 {
            display: grid;
            grid-template-columns: 526px 526px;
            justify-content: space-between;
            padding-top: 3.6rem
        }
    }
    aside {
        width: 100%;
        height: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    h2 {
        margin: 0;
        font-size: 32px;
    }
    ul {
        padding: 0px;
        margin: 0px;
        li {
            position: relative;
            list-style-type: none;
            padding-left: 2rem;
        }
        li:before {
            content: " ";
            position: absolute;
            top: 2px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-image: url("../images/icons/bx-check-circle.svg");
            background-repeat: no-repeat;

            p {
                display: inline-flex;
            }
        }
    }
    .image-1 {
      width: 100%; /* 208px */
        padding: 0;
        margin: 0;
        display: static;
        justify-content: left;
        .chart {
          position: relative;
        }
        .users {
          position: absolute;
          bottom: -60px;
          right: 50px;
          
        }
    }
    .cards {
        display: flex;
        padding-top: 0;
    }
    .card {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;


        .icon {
            width: 60px;
            height: 60px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .icon-img {
          img {
            display: flex;
          padding: 0;
          margin: 0;
          }
        }
    }
}
